
/build/
/CMakeFiles/
/cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
progress.marks
*.cmake
.vscode/

task-tracker
*.exe
*.out

*.log

_deps/
fc-tmp/
pkgRedirects/

*.o
*.obj

tasks.json

*.tmp
*.bak
*~

/old/
